@model Tarefa

@{
    ViewData["Title"] = "Delete";
}

<h2>DELETAR TAREFA</h2>

<hr />
<dl class="row"> </dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NomeTarefa)
    </dt>

    <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="TarefaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
    </div>
